# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.4', '2.5', '2.6', '2.7', '3.0', '3.1', '3.2']
        include:
          - gemfile: Gemfile
            not-only-test: true
          - gemfile: Gemfile.2.4
            ruby-version: 2.5
            not-only-test: false
          - gemfile: Gemfile.2.4
            ruby-version: 2.4
            not-only-test: false
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Install dependencies
        run: bundle install
      - if: ${{ matrix.not-only-test }}
        name: Type check
        run: bundle exec srb tc
      - if: ${{ matrix.not-only-test }}
        name: Lint
        run: bundle exec rubocop
      - name: Run tests
        run: bundle exec rspec
